  <div class='text-center'>
    <style>
      .logo{
        display:inline-block;
        height:40px;
        float:left;

      }
      .logo img{
        height:100%;
        display:inline-block;
      }
    </style>
    <section class="nav-" style="padding:10px">
      <a class="logo" href="#/">
        <img src="assets/logo.png" />
      </a>
      <div class="nav-search-and-link">
        <div class="nav-links">
          <a href="#/">Home</a>
          <a href="#/plus/PlusListings">PlusListings</a>
          <a href="#/advert/Sponsored">Adverts</a>
        </div>
      </div>
    </section>
    <section  class="hundred">
          <section class="hero-header"
                   style='display:table; background-image:url(assets/yellow-pages.jpg); background-size:cover'>
            <div style='display:table-cell; vertical-align: middle'>
              <h1 class="hero-h1">Looking for Businesses in Cross River State?</h1>
              <form>
              <div class=" hero-search">
                <input class=""
                       type="text" ng-model="datas.query"/>
                <button type="submit" class="" ng-click="send(datas.query)">Search</button>

              </div>
              </form>
              <br/>

            </div>

            <div style='display:table-row-group; vertical-align: bottom; text-align:center;'>
              <a class="hero-button" ng-click="scrollTo('categories')">View Categories</a>
              <br/><br/>
            </div>
          </section>
          <style>

            .card {
              background: #fff;
              border-radius: 2px;
              display: inline-block;
              position: relative;
            }

            .card-1 {
              box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
              transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            }

            .card-1:hover,.card-1:focus  {
              box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            }

          </style>
          <section class="container categories hundred" id="categories">
            <h1 class="categories-header"><strong>CATEGORIES</strong></h1>
            <md-progress-circular md-mode="indeterminate" ng-show="show == 'show'"></md-progress-circular>
            <div class="col-sm-6 category  " style="padding-bottom:15px;" ng-repeat="data in result">
              <a href="#/category/{{data.Slug}}" class="card card-1" style="width:100%; padding:30px 15px;" >
                {{data.Category}}
              </a>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
          </section>
      </section>

  </div>
</link>
