  <div class='text-center'>
    <section class="nav-" style="padding:10px">
      <div class="nav-search-and-link">
        <div class="nav-links">
          <a href="#/">Home</a>
          <a href="#/plus/PlusListings">PlusListings</a>
          <a href="#/advert/Sponsored">Sponsored</a>
        </div>
      </div>
    </section>
    <section  class="hundred">
          <section class="hero-header"
                   style='display:table; background-image:url(assets/yellow-pages.jpg); background-size:cover'>
            <div style='display:table-cell; vertical-align: middle'>
              <h1 class="hero-h1">Looking for Businesses in Cross River State?</h1>
              <div class=" hero-search">
                <input class=""
                       type="text" ng-model="datas.query"/>
                <button class="" ng-click="send(datas.query)">Search</button>

              </div>
            </div>

            <div style='display:table-row-group; vertical-align: bottom; text-align:center;'>
              <a class="hero-button" ng-click="scrollTo('categories')">View Categories</a>
              <br/><br/>
            </div>
          </section>
          <section class="container categories hundred" id="categories">
            <h1 class="categories-header">Categories</h1>
            <div class="col-md-6 category" style="padding-bottom:45px;"
                 ng-repeat="data in result">
              <a href="#/category/{{data.Slug}}">{{data.Category}}</a>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
          </section>
      </section>
    
  </div>
</link>
