<link href='https://fonts.googleapis.com/css?family=Raleway:400,100'
      rel='stylesheet'
      type='text/css'>
  <link href="/assets/main.css"
        rel="stylesheet" />
  <div class='text-center'>
    <section class="nav-">
      <div class="nav-search-and-link">
        <div class="nav-search">
          <input class=""
                 type="text" ng-model="data.query"/>
          <button class="" ng-click="send(data.query)">Search</button>
        </div>
        <div class="nav-links">
          <a>Home</a>
          <a>About</a>
        </div>
      </div>
    </section>
    <section  class="hundred">
          <section class="hero-header"
                   style='display:table; background-image:url(assets/yellow-pages.jpg); background-size:cover'>
            <div style='display:table-cell; vertical-align: middle'>
              <h1 class="hero-h1">Looking for Businesses in Cross River State?</h1>
              <div class=" hero-search">
                <input class=""
                       type="text" ng-model="datas.query"/>
                <button class="" ng-click="send(datas.query)">Search</button>

              </div>
            </div>
          </section>
          <section class="container categories hundred">
            <h1 class="categories-header">Categories</h1>
            <div class="col-md-6 category" style="padding-bottom:30px;"
                 ng-repeat="data in result">
              <a href="#/category/{{data.Slug}}">{{data.Category}}</a>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
          </section>
      </section>
    <section class="footer">
      <div class="container x">
        <p>Copyright calabaryellowpages.com.ng 2016</p>
      </div>
      <div class="container p3">
        <p>made with &nbsp;&nbsp;
        <span class="heart">❤</span>&nbsp;&nbsp;by
        <a href="http://past3.com.ng">Past 3 Software and Design Studio</a></p>
      </div>
    </section>
  </div>
</link>
