calabarpages.com {
    # other directives
    tls {
	    max_certs 10
    }
    on startup systemctl restart calabarpages
    proxy / localhost:8005
    root  /home/ubuntu/server/calabarpages
	errors ./errors.log

    git {
            repo git@github.com:smilecs/yellowpages
            key /home/ubuntu/id_rsa
            interval 600
            path src
            then systemctl restart calabarpages
    }

}

# calabaryellowpages.com {
#    tls {
# 	    max_certs 10
#    }
#	redir https://calabarpages.com
#}
