
  <div class='text-center'>
    <section class="nav-">
      <div class="nav-search-and-link">
        <div class="nav-search">
          <input class=""
                 type="text" ng-model="data.query"/>
          <button class="" ng-click="send(data.query)">Search</button>
        </div>
        <div class="nav-links">
          <a href="#/">Home</a>
          <a href="#/plus/PlusListings">PlusListings</a>
          <a href="#/advert/Sponsored">Sponsored</a>
        </div>
      </div>
    </section>
    <section class="hero-xs"
             style='display:table; background-image:url(assets/yellow-pages.jpg); background-size:cover'>
      <div style='display:table-cell; vertical-align: middle; font-weight:100'>
        <h1 class="hero-h1">
        <strong>Category:</strong>{{result.Category}}</h1>
      </div>
    </section>
    <br />
    <br />
    <br />
    <section class="item-listing-parent hundred">
      <section class="item-listings">
        <div class="item"
             ng-repeat="data in category">
          <div ng-if="data.Type =='true'">
            <span class="pull-right verified-mark">
              <strong>&#10004; verified</strong>
            </span>
            <h1>
              <img class="img img-thumbnail pull-left item-img"
                   src="{{data.Image}}" />
              <a class="item-title"
                 href="#/listing/{{data.Category}}/{{data.Slug}}">{{data.CompanyName}}</a>
            </h1>
            <address class="">{{data.Address}}</address>
            <span><strong>{{data.Specialisation}}</strong></span><br />
            <span>{{data.Dhr}}</span><br />
            <a href="tel:{{data.Hotline}}">Call {{data.Hotline}}</a>
          </div>
          <div ng-if="data.Type == 'false'">
            <h1>{{data.CompanyName}}</h1>
            <address class="">{{data.Address}}</address>
            <span><strong>{{data.Specialisation}}</strong></span><br />
            <span>{{data.Dhr}}</span><br />
            <a href="tel:{{data.Hotline}}">Call {{data.Hotline}}</a>
          </div>

          <div class="ad-listing" ng-if="data.Type == 'advert' ">
            <img src="{{data.Image}}" />
          </div>
        </div>

      </section>
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
    <nav>

  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="num in newerScope"><a href="#" ng-click="$event.preventDefault();sends($index + 1)">{{$index +1}}</a></li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
      </div>
</link>
