<div class="wrapper">
<header class="main-header"><!-- Logo -->
<a href="../../index2.html" class="logo">
<!-- mini logo for sidebar mini 50x50 pixels -->
 <span class="logo-mini"><b>A</b>LT</span>
<!-- logo for regular state and mobile devices -->
 <span class="logo-lg"><b>Calabr</b>YellowPages</span></a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role=
"button"><span class="sr-only">Toggle navigation</span></a></nav>
</header>
<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar"><!-- Sidebar user panel -->

<!-- search form -->
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
<li class="header">MAIN NAVIGATION</li>
<li><a href="#/addcat"><span>Categories</span> <small class=
"label pull-right bg-green">Hot</small></a></li>
</ul>
</section>
<!-- /.sidebar --></aside>
<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"><!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content ">
  <div class="row">
             <div class="col-md-6" ng-repeat="data in result">
               <div class="box box-solid">
                 <div class="box-header with-border">
                   <i class="fa fa-text-width"></i>
                   <h3 class="box-title">{{data.CompanyName}}</h3>
                 </div><!-- /.box-header -->
                 <div class="box-body">
                   <dl>
                     <dt>{{data.Address}}</dt>
                     <dd>{{data.Hotline}}</dd>
                     <dd>{{data.Specialisation}}</dd>
                   </dl>
                   <form action="https://stageserv.interswitchng.com/quicktellercheckout" method="post">
                     <input type="hidden" name="paymentCode" value="99401" />
                     <input type="hidden" name="amount" value="99500" />
                     <input type="hidden" name="customerId" value="90680596759" />
                     <input type="hidden" name="redirecturl" value="https://calabaryellowpages.herokuapp.com/client/update?q={{update}}" />
                     <input type="text" name="mobileNumber" placeholder="Your Mobile Number"/>
                     <input type="text" name="emailAddress" placeholder="Email Address"/>
                     	<input type="hidden" name="requestRequest" value="10030000002345" />
                      <div class="col-sm-3" style="display:inline-block;float:none;">
                        <select id="amt" onchange="modify()">
                          <option value=""></option>
                          <option value="3000">1 Year (3000)</option>
                          <option value="6000">2 Years (6000)</option>
                        </select>
                      </div>
                     <div class="buttons">
                         <div class="right">
                             <input type="submit" value="PAY" class="button" />
                         </div>
                     </div>
                   </form>
                 </div><!-- /.box-body -->
               </div><!-- /.box -->
             </div><!-- ./col -->
           </div>
</section>
<!-- /.content --></div>
<script type="text/javascript">

  function modify(){
    console.log("change");
    var temp = document.getElementById('amt').value;
    document.getElementById('amount').value = temp;
    document.getElementById('url').value = document.getElementByID('url').value + "&expiry=" + temp;
  };

var num = "";
var QTCheckout = QTCheckout || {};
var rq = "6026";
var testMode = false;

var baseUrl = "";
for(var i = 0; i < 7; i++){
  num += Math.floor((Math.random() * 10) + 1);
  console.log(num);
}
rq = num + rq;
//rq = '12345676026'
document.getElementById(customerId).innerHTML = num;
document.getElementById(requestRequest).innerHTML = rq;

QTCheckout.paymentItems = QTCheckout.paymentItems || [];
QTCheckout.paymentItems.push({

paymentCode: '99401',

extraData: {

amount: "200000",

buttonSize: 'small',

customerId: num,

mobileNumber: 'default',

emailAddress: 'default',

redirectUrl: 'https://calabaryellowpages.herokuapp.com/newapp',


requestReference: rq

}

});

if (testMode == true)
baseUrl ="https://stageserv.interswitchng.com/quicktellercheckout/scripts/quickteller-checkout-min.js?v=";
else
baseUrl = "https://paywith.quickteller.com/scripts/quickteller-checkout-min.js?v=";
if(!QTCheckout.qtScript) {

var qtScript = document.createElement('script');

qtScript.type = 'text/javascript'; qtScript.async = true;

qtScript.src = baseUrl + new Date().getDay();
 var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(qtScript, s);

QTCheckout.qtScript = qtScript;

}

else if (QTCheckout.buildPaymentItemsUI) {

QTCheckout.buildPaymentItemsUI();

}

</script>

<!-- /.content-wrapper -->
<footer class="main-footer">
<div class="pull-right hidden-xs"><b>Version</b> 2.3.0</div>
<strong>Copyright © 2016 Calabar YellowPages &nbsp; <a href=
"http://www.past3.com.ng">By Past3 Studios</a></strong> All rights
reserved.</footer>
<!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->

</div>
