<div class="wrapper">
<header class="main-header"><!-- Logo -->
<a href="../../index2.html" class="logo">
<!-- mini logo for sidebar mini 50x50 pixels -->
 <span class="logo-mini"><b>A</b>LT</span>
<!-- logo for regular state and mobile devices -->
 <span class="logo-lg"><b>Calabr</b>YellowPages</span></a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role=
"button"><span class="sr-only">Toggle navigation</span></a></nav>
</header>
<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar"><!-- Sidebar user panel -->

<!-- search form -->
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
<li class="header">MAIN NAVIGATION</li>
<li><a href="#/addcat"><span>Categories</span> <small class=
"label pull-right bg-green">Hot</small></a></li>
</ul>
</section>
<!-- /.sidebar --></aside>
<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"><!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content ">

</section>
<!-- /.content --></div>
<!-- /.content-wrapper -->
<footer class="main-footer">
<div class="pull-right hidden-xs"><b>Version</b> 2.3.0</div>
<strong>Copyright © 2016 Calabar YellowPages &nbsp; <a href=
"http://www.past3.com.ng">By Past3 Studios</a></strong> All rights
reserved.</footer>
<!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->

</div>
