body{
  font-family: 'Raleway', sans-serif;
}

.hundred{
  min-height: 100vh;
}

.nav-{
  position:fixed;
  width:100%;
  background-color:#FFD400;
  color:#111;
  z-index: 1000;

  -webkit-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.75);
}
.nav-search-and-link{
  display:inline-block;
  padding:10px;
  float:right;
}
.nav-search{
  display:inline-block;
  margin:0;
  padding:0;
}
.nav-search input{
  padding:10px;

}
.nav-search button{
  padding:10px;
  background-color:#111;
  color:#FFD400;
  border-color: #FFD400;
}

.nav-links{
  display:inline-block;
}
.nav-links a{
  padding-left:15px;
  padding-right:15px;
  color:#111;
}

.hero-h1{
    font-size: 3rem;
    display:inline-block;
    color:#111;
}

.hero-header{
    background-color:#111;
    color:white;
    height:80vh;
    width:100%;
    text-align: center;
}
@media(min-width:400px)  {
  .hero-h1{
      font-size: 6rem;
      max-width: 700px;
      display:inline-block;
      color:#111;
  }
}
.hero-xs{
    height:40vh !important;
    padding-top:40px;
    background-color:#111;
    color:white;
    width:100%;
    text-align: center;
}

.categories a{
    font-size:2.8em;
    color:#111;
    font-weight:100;
}
.hero-search>input{
    border-radius:0;
    min-width:50%;
    padding-top:15px;
    padding-bottom:15px;
    color:#111;

}
.hero-search>button{
    color:#fff;
    background-color: #111;
    border-radius:0;
    padding:15px;
    border-color:#111;
    padding-left:30px;
    padding-right:30px;
}
.hero-search>button:hover{
  color:#FFD400;
  background-color: #111;
}
.categories-header{
  padding:20px;
  padding-top:60px;
  padding-bottom:40px;
}

.item-listing-parent{
  text-align:center;
}
.item-listings{

  font-size:1.2em;
  display:inline-block;
  text-align:left;
  margin-bottom:20px;
}
@media(min-width:400px)  {
  .item-listings{
    width:80rem;
  }
}
.item-listings h1{
  font-size:1.5em;
}

.verified-mark{
  color: #111;
  background-color:#FFD400;;
  padding:5px;
  font-weight:400;
  font-size:1.1em;
}

.item{
  display:inline-block;
  padding:15px;
  width:100%;
  -webkit-box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.75);

}
.item-title{
  color:black;

}

.item-img{
  margin-right:10px;
  margin-bottom: 10px;
  height:100px;
  width:100px;

}

.item-h1{
  display: inline-block;
}
.footer{
  background-color:#111;
  color:#FFD400;
}
.footer .x{
  padding-top:50px;
  padding-bottom: 30px;

}

.listing-heading{
  padding:10px;
  color:#111;
  font-size:2.1rem;
  font-weight:400;
  display:inline-block;
  text-align:left;
  margin-bottom:20px;
}

.listing-heading h1{
  font-size:2.5rem;
}


.listing-category{
  padding-top:20px;
  font-size:2rem;
}



.listing-heading img{
  width:100px;
  height:100px;
  margin-right: 20px;

}
.listing-body{
  text-align:center;
  padding:20px;
}
@media(min-width:400px)  {
  .listing-heading{
    width:80rem;
    font-size:6rem;
  }
  .listing-category{
    padding-top:20px;
    font-size:3rem;
  }

  .listing-heading h1{
    font-size:4rem;
  }
  .listing-heading img{
    width:200px;
    height:200px;
    margin-right: 20px;

  }
}



.listing-area{
  display:inline-block;
  text-align:left;
  font-size:1.2em;
  margin-top:20px;
}

.listing-area h2{
  font-size:2em;
}
@media(min-width:400px)  {
  .listing-area{
    width:80rem;
  }
}

.listing-images{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.listing-images a{
  flex: 1 45%;
  //height: 50vh;
  margin-left: 5px;
  margin-bottom: 5px;
}

.listing-images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ad-listing img{

  width:100%;
  height:200px;
}
.heart{
  color:red;
  font-size:2rem;
}

.p3{
  color:#f9f9f9;
}
.p3 a{
  color:#f9f9f9;;
}

.categories a {
  line-height: 1;
}
