<div class="row">
  <h2 class="tc pa3">Unapproved Listings</h2>
   <div class="col-md-6" ng-repeat="data in result">
     <div class="box box-solid">
       <div class="box-header with-border">
         <h3 class="box-title">{{data.CompanyName}}</h3>
       </div><!-- /.box-header -->
       <div class="box-body">
         <dl>
           <dt>{{data.Address}}</dt>
           <dd>{{data.Hotline}}</dd>
           <dd>{{data.Specialisation}}</dd>
         </dl>
         <button class="btn primary" ng-click="approve($index, data.id)" ng-hide="but">Approve</button>
         <br/>
         <div class="tc" ng-show="show == 'show'">
           <img src="/assets/ripple.gif" class="dib"/>
         </div>
       </div><!-- /.box-body -->
     </div><!-- /.box -->
   </div><!-- ./col -->
  </div>
