<div class="row">
   <md-progress-circular md-mode="{{indeterminate}}" ng-show="show == 'show'"></md-progress-circular>
           <div class="col-md-6" ng-repeat="data in result">
             <div class="box box-solid">
               <div class="box-header with-border">
                 <i class="fa fa-text-width"></i>
                 <h3 class="box-title">{{data.CompanyName}}</h3>
               </div><!-- /.box-header -->
               <div class="box-body">
                 <dl>
                   <dt>{{data.Address}}</dt>
                   <dd>{{data.Hotline}}</dd>
                   <dd>{{data.Specialisation}}</dd>
                 </dl>
                 <button class="btn primary" ng-click="approve($index, data.id)" ng-hide="but">Approve</button>
               </div><!-- /.box-body -->
             </div><!-- /.box -->
           </div><!-- ./col -->
         </div>
